# Contains all your dependencies
node_modules

# Deal with environment files
.env
.env.*

# .js files
.js

# Visual Studio Code configuration
.vscode/

# npm and yarn debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# next.js
.next
